@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 240deg 20% 98%;
    --foreground: 240deg 10% 20%;
    --primary: 0deg 100% 25%;
  }
  .dark {
    --background: 240deg 10% 10%;
    --foreground: 240deg 30% 90%;
    --primary: 0deg 100% 25%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

.main, .navbar + main {
  padding-top: 40px;
}

/*
  Editor styles
  */
[data-slate-editor] blockquote {
  border-left: 4px solid #ddd;
  padding-left: 10px;
  font-style: italic;
  margin-left: 0;
}
[data-slate-editor] code {
  background-color: rgba(244, 244, 244, 0.4);
  font-family: 'Courier New', Courier, monospace;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 0.9em;
}
[data-slate-editor] h1 { 
  font-size: 2em; 
  font-weight: bold; 
  margin-bottom: 0.5em; 
}

[data-slate-editor] h2 { 
  font-size: 1.5em; 
  font-weight: bold; 
  margin-bottom: 0.5em; 
}

[data-slate-editor] h3 { 
  font-size: 1.25em; 
  font-weight: bold; 
  margin-bottom: 0.4em; 
}

[data-slate-editor] h4 { 
  font-size: 1.1em; 
  font-weight: bold; 
  margin-bottom: 0.2em; 
}

[data-slate-editor] h5 { 
  font-size: 1.0em; 
  font-weight: bold; 
  margin-bottom: 0.1em; 
}


[data-slate-editor] ul {
  list-style-type: disc;
  padding-left: 20px;
}

[data-slate-editor] ol {
  list-style-type: decimal;
  padding-left: 20px;
}


